<div>
  <div ng-include src="'/views/partials/navbar/navbar.html'"></div>
  <div ng-include src="'/views/partials/header/header.html'"></div>
  <div ng-include src="'/views/partials/about/about.html'"></div>
  <div ng-include src="'/views/partials/skillsParallax/skillsParallax.html'"></div>
  <div ng-include src="'/views/partials/skills/skills.html'"></div>
  <div ng-include src="'/views/partials/portfolioParallax/portfolioParallax.html'"></div>
  <div ng-include src="'/views/partials/portfolio/portfolio.html'"></div>
  <div ng-include src="'/views/partials/footer/footer.html'"></div>
</div>
